main {
    display: flex;
}

.containerImagemLogin {
    background-image: url("../../assets/Tela\ Login/imagem tela de login.png");
    height: 100vh;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.containerForm {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: "Inter";
        width: 15vw;
        font-size: 2rem;
        font-weight: 700;
        color: #23282F;
        text-align: center;
    }

    p {
        font-family: "Inter";
        font-size: 1rem;
        font-weight: 700;
        color: #0844C4;
        padding: 1rem 0 1rem 0rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 20vh;

    input {
        width: 20vw;
        height: 5vh;
        border-radius: 6px;
        border: 0.8px solid #CBD4E1;
        color: #898D93;
        font-family: "Inter";
        padding-left: 1rem;
    }

    input:hover {
        border: 0.8px solid #23282F;
    }

    input:focus {
        border: 0.8px solid #23282F;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    a {
        font-size: 1rem;
        font-weight: 400;
        font-family: "Inter";
        color: #23282F;
        text-decoration: none;
    }

    div {
        width: 50%;
        display: flex;
        justify-content: space-evenly;

        .botaoEntrar {
            background-color: #001A3D;
            width: 6vw;
            height: 5vh;
            border-radius: 6px;
            font-size: 1rem;
            font-weight: 700;
            font-family: "Inter";
            color: #FFFFFF;
            border: none;
            cursor: pointer;
        }

        .botaoEntrar:hover {
            background-color: #012049;
        }

        .botaoCriar {
            background-color: #00BEDD;
            width: 6vw;
            height: 5vh;
            border-radius: 6px;
            font-size: 1rem;
            font-weight: 700;
            font-family: "Inter";
            color: #FFFFFF;
            border: none;
            cursor: pointer;
        }

        .botaoCriar:hover {
            background-color: #00acc7;
        }
    }
}